<h1>Elizabeth Moon's Art Website</h1>
<p>Here is a description of Artist Elizabeth Moon</p>

<div class="container">
<div class="row">
    <div class="span4">
<%= image_tag("/assets/images/DSC00291.JPG", :size => "260x180") %>
    <p>Here is name of painting and a future link to painting's web page!</p>
    </div>
    <div class="span4">
<%= image_tag("/assets/images/DSC00292.JPG", :size => "260x180") %>
    </div>
    <div class="span4">
<%= image_tag("/assets/images/DSC00294.JPG", :size => "260x180") %>
    </div>
</div>

<div class="row">
    <div class="span4">
<%= image_tag("/assets/images/DSC00300.JPG", :size => "260x180") %>
    </div>
    <div class="span4">
<%= image_tag("/assets/images/DSC00303.JPG", :size => "260x180") %>
    </div>
    <div class="span4">
<%= image_tag("/assets/images/DSC00306.JPG", :size => "260x180") %>
    </div>
</div>

<div class="row">
    <div class="span4">
<%= image_tag("/assets/images/DSC00308.JPG", :size => "260x180") %>
    </div>
    <div class="span4">
<%= image_tag("/assets/images/DSC00310.JPG", :size => "260x180") %>
    </div>
    <div class="span4">
<%= image_tag("/assets/images/DSC00312.JPG", :size => "260x180") %>
    </div>
</div>

<div class="row">
    <div class="span4">
<%= image_tag("/assets/images/DSC00316.JPG", :size => "260x180") %>
    </div>
    <div class="span4">
<%= image_tag("/assets/images/DSC00318.JPG", :size => "260x180") %>
    </div>
    <div class="span4">
<%= image_tag("/assets/images/DSC00320.JPG", :size => "260x180") %>
    </div>
</div>

<div class="row">
    <div class="span4">
<%= image_tag("/assets/images/DSC00322.JPG", :size => "260x180") %>
    </div>
    <div class="span4">
<%= image_tag("/assets/images/DSC00324.JPG", :size => "260x180") %>
    </div>
    <div class="span4">
<%= image_tag("/assets/images/DSC00326.JPG", :size => "260x180") %>
    </div>
</div>

<div class="row">
    <div class="span4">
<%= image_tag("/assets/images/DSC00328.JPG", :size => "260x180") %>
    </div>
    <div class="span4">
<%= image_tag("/assets/images/DSC00329.JPG", :size => "260x180") %>
    </div>
    <div class="span4">
<%= image_tag("/assets/images/DSC00332.JPG", :size => "260x180") %>
    </div>
</div>

<div class="row">
    <div class="span4">
<%= image_tag("/assets/images/DSC00334.JPG", :size => "260x180") %>
    </div>
    <div class="span4">
<%= image_tag("/assets/images/DSC00336.JPG", :size => "260x180") %>
    </div>
    <div class="span4">
<%= image_tag("/assets/images/DSC00338.JPG", :size => "260x180") %>
    </div>
</div>

<div class="row">
    <div class="span4">
<%= image_tag("/assets/images/DSC00340.JPG", :size => "260x180") %>
    </div>
    <div class="span4">
<%= image_tag("/assets/images/DSC00342.JPG", :size => "260x180") %>
    </div>
    <div class="span4">
<%= image_tag("/assets/images/DSC00343.JPG", :size => "260x180") %>
    </div>
    
</div>

</div>